DEFAULT symbian
PROMPT 0
TIMEOUT 50

UI vesamenu.c32
MENU TITLE Symbian-X86 LOOX OS Boot Menu
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #9033b5e5 #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std

LABEL symbian
  MENU LABEL ^Symbian-X86 LOOX OS (Live Desktop)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live quiet splash elevator=deadline intel_idle.max_cstate=4 pcie_aspm=force mitigations=auto,nosmt zswap.enabled=0

LABEL vesa
  MENU LABEL Symbian-X86 LOOX OS (^Safe Graphics / VESA)
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live nomodeset vga=791 xforcevesa elevator=deadline mitigations=auto,nosmt

LABEL install
  MENU LABEL ^Install to Internal HDD/SSD
  KERNEL /boot/vmlinuz
  APPEND initrd=/boot/initrd.img boot=live symbian_installer=1 elevator=deadline mitigations=auto,nosmt
